name: Self Check

on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches:
      - master


jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run linter
        run: |
          go install github.com/rhysd/actionlint/cmd/actionlint@03d0035246f3e81f36aed592ffb4bebf33a03106  # v1.7.7
          ~/go/bin/actionlint
